.collapsed {
  display: none!important;
}

ul#tabs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 16px;
  row-gap: 16px;
  flex-wrap: wrap;
}

ul#tabs li {
  min-width: 500px;
}

ul#tabs li div {
  word-break: break-all;
  word-wrap: break-word;
}

.red {
  color: red;
}

.green {
  color: green;
}

.rawMessage {
  height: 500px;
  width: 600px;
}

.lastRefreshed {
  font-weight: 400;
  font-size: 12px;
}