@font-face {
  font-family: mimecast-regular;
  src: url("fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: mimecast-bold;
  src: url("fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
}

strong {
  font-weight: bold;
  font-family: mimecast-bold, Arial, Helvetica;
}

.incydr-ext-dialog {
  border: none;
  border-radius: 28px;
  padding: 24px 0px;
  background-color: white;
  margin: 15px;
  font-family: mimecast-regular, Arial, Helvetica;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.incydr-ext-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.incydr-int-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;
}

.incydr-ext-title {
  display: flex;
  align-items: center;
  height: 48px;
  align-self: start;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #1C1B1F;
}

.incydr-ext-text {
  color: #49454F;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  text-align: left;
  word-break: break-word;
}

.incydr-ext-text p {
  margin: 0;
  padding: 0;
}

.incydr-ext-text b {
  font-weight: 600;
}

#incydr-justification-input {
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding-left: 12px;
  margin-left: auto;
  margin-top: -16px;
  color: black;
}

.incydr-ext-button-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.incydr-ext-button.incydr-ext-button-root {
  color: #1976D2;
  padding: 4px;
  font-size: 14px;
  min-width: 44px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: proxima-nova, ProximaNova, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  border-radius: 4px;
  letter-spacing: 0.1px;
  text-transform: none;
}

.incydr-confirm-options-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  margin: 16px 0;
}

.incydr-confirm-option-div {
  display: flex;
  align-items: center;
  height: 22px;
}

.incydr-confirm-option-div input[type="radio"] {
  height: 20px;
  width: 20px;
  border: 2px solid #757575;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 0px;
}

.incydr-options-label {
  color: #424242;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: initial;
}

.incydr-error-div {
  align-self: end;
}

.incydr-error-div p {
  margin-top: 0;
  margin-bottom: 16px;
  color: #D32F2F;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.incydr-ext-button-root {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.incydr-ext-button-ripple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.incydr-ext-button:hover {
  color: #0d47a1;
  background-color: rgba(21, 101, 192, 0.04);
}

.incydr-ext-dialog-actions {
  align-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 32px;
}